<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome to The Page</h1>
      <p class="secret-text">Congratulations ! You have registered/logged in successfully.</p>
      <hr>

    </div>
  </div>

  <%- include('partials/footer') %>